link(rel="stylesheet" type='text/css', href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css")
script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js")
script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js")

.card_widget.aplayer
  .card-content
    .item_headline
      i.fas.fa-music(aria-hidden="true")
      span= _p('aside.aplayer')   
      <a  class="rightBtn" id='xinxin' rel="external nofollow noopener noreferrer" target="_blank" href="https://music.163.com/#/user/home?id=427475031" title="https://music.163.com/#/user/home?id=427475031">
      <i class="far fa-heart fa-fw" id='xinxin'></i></a>
    <div class="aplayer aplayer-withlrc aplayer-withlist aplayer-arrow" data-theme="#1BCDFC" data-mode="circulation" data-server="netease" data-type="playlist" data-id="818302232" data-volume="0.7" autoplay="true"></div>
    //- 818302232
    //- 109951164346847770



//- 3019271605
