link(rel="stylesheet" type='text/css', href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css")
script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js")
script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js")

.card_widget.aplayer
  .card-content
    .item_headline
      i.fas.fa-music(aria-hidden="true")
      span= _p('aside.aplayer')   
    <div class="aplayer aplayer-withlrc aplayer-withlist aplayer-arrow" data-theme="#1BCDFC" data-mode="circulation" data-server="netease" data-type="playlist" data-id="818302232" data-volume="0.7"><div class="aplayer-pic" style="background-image: url(&quot;https://api.i-meto.com/meting/api?server=netease&amp;type=pic&amp;id=818302232&amp;auth=a8907af7fe287756945b9f6696d8e89439def376eb716c1516d23c382c340f36&quot;);" https:="" api.i-meto.com="" meting="" api?server="netease&amp;type=pic&amp;id=818302232&amp;auth=a8907af7fe287756945b9f6696d8e89439def376eb716c1516d23c382c340f36&quot;);&quot;">
    <div class="aplayer-button aplayer-play"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 31"><path d="M15.552 15.168q0.448 0.32 0.448 0.832 0 0.448-0.448 0.768l-13.696 8.512q-0.768 0.512-1.312 0.192t-0.544-1.28v-16.448q0-0.96 0.544-1.28t1.312 0.192z"></path></svg></div>
    </div></div>
    //- 818302232
    //- 109951164346847770



//- 3019271605
