
.card_widget.card-ads
  .card-content
    .item_headline
      i.fab.fa-weixin(aria-hidden="true")
      span= _p('aside.card_ads')   
    img(id="tui"  src="https://cdn.jsdelivr.net/gh/yujiajie01/imgHosting/yujiajie01-pictui.gif",alt="丝袜")
    img(id="wechat" src="/img/wechatx.jpg",alt="私人微信")
