
.card_widget.card-map
  .card-content
    .item_headline
      i.fas.fa-map(aria-hidden="true")
      span= _p('aside.card_map')   
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5c49khcsf0s&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0" async="async"></script>