.card_widget.card_clock
  .card-content
    .item_headline
      i.fas.fa-clock(aria-hidden="true")
      span= _p('aside.card_clock')
    <div id="tp-weather-widget"></div>
    //- <script charset="Shift_JIS" src="/js/third-party/clock.js"></script>
    //- <script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.js"></script>
    //- <script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.js"></script>
    //- <iframe weather.seniverse.com/?token=70de45c5-5c87-45cc-a597-311a8ec72a4e ></iframe>